<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCSX2Bonus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <PCSX2Bonus.Properties.Settings>
            <setting name="buttonCancel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="buttonOk" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultSort" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="defaultTheme" serializeAs="String">
                <value>default.xml</value>
            </setting>
            <setting name="defaultView" serializeAs="String">
                <value>Stacked</value>
            </setting>
            <setting name="enableGamepad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableGameToast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pcsx2DataDir" serializeAs="String">
                <value />
            </setting>
            <setting name="pcsx2Dir" serializeAs="String">
                <value />
            </setting>
            <setting name="pcsx2Exe" serializeAs="String">
                <value />
            </setting>
            <setting name="saveInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveScreenshots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useUpdatedCompat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="windowLocation" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>925,522</value>
            </setting>
            <setting name="windowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </PCSX2Bonus.Properties.Settings>
    </userSettings>
</configuration>
